{% extends "base.html" %}

{% block content %}
    <p>Hello, World!</p>
    <div id="dynamic-content"></div>
    <button href="dubbed"
        class="linker"
        data-place="#dynamic-content">
        Click Me</button>
    <button href="subbed"
        class="linker"
        data-place="#dynamic-content">
        Click Me</button>
    <button href="away"
        class="linker"
        data-place="#dynamic-content">
        Click Me</button>
    <button href="home"
        class="linker"
        data-place="#dynamic-content">
        Click Me</button>
{% end %}
